<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Proffy</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/partials/pages/page-login.css">
</head>

<body id="page-login">
    <div id="container">
        <div class="logo-container">
            <img src="/images/landing.svg" alt="Plataforma de Estudos">
            <p>Proffy</p>
            <p>Sua plataforma de estudos online</p>
        </div>

        <h5>aqui vai a form de login</h5>
    </div>
</body>

</html>